{% include "lib/githubLinks.html" -%}
{% include "lib/paramList.html" -%}
{% extends 'class.template.html' -%}

{% block annotations %}
{% endblock %}


{% block additional %}
  .c2
    h2 Selectors <i class="material-icons md-14">help</i>
  .c10
    p
      {% for selector in doc.directiveOptions.selector.split(',') %}
      code {$ selector $}{% endfor %}

{% if doc.outputs %}
  .c2
    h2 Outputs <i class="material-icons md-14">help</i>
  .c10
    {% for binding, property in doc.outputs %}p
      a(href="#")
        code {$ property.bindingName $}
      | &nbsp;bound to&nbsp;
      a(href="#")
        code {$ property.memberDoc.classDoc.name $}.{$ property.propertyName $}
{% endfor %}
{% endif %}

{% if doc.inputs %}
  .c2
    h2 Inputs <i class="material-icons md-14">help</i>
  .c10
    {% for binding, property in doc.inputs %}p
      a(href="#")
        code {$ property.bindingName $}
      | &nbsp;bound to&nbsp;
      a(href="#")
        code {$ property.memberDoc.classDoc.name $}.{$ property.propertyName $}
{% endfor %}
{% endif %}

{% if doc.directiveOptions.exportAs %}
  .c2
    h2 Exported As <i class="material-icons md-14">help</i>
  .c10
    p
      code {$ doc.directiveOptions.exportAs $}
{% endif %}
{% endblock %}
